<div id="home">
  <div class="toolbar">
    <h1>WotD</h1>
  </div>
  <h2><%= @word['wordstring'] %></h2>
  <ul class="rounded">
  	<% @word['definition'].each do |definition| %>
	  <li><%= definition['text'] %></li>
  	<% end %>
  	<li class="arrow">
  	  <%= link_to 'Examples', '#examples' %>
  	  <small class="counter"><%= @word['example'].size %></small>
  	</li>
    <li class="arrow"><%= link_to 'Note', '#note' %></li>
</div>

<div id="examples">
  <div class="toolbar">
    <h1>Examples</h1>
	  <%= link_to 'Home', '#a', "class=\"back\"" %>
  </div>
  <h2><%= @word['wordstring'] %></h2>
  <ul class="rounded">
    <% @word['example'].each do |example| %>
    <li><%= example['text'] %></li>
    <% end %>
  </ul>
</div>

<div id="note">
  <div class="toolbar">
    <h1>Notes</h1>
	  <%= link_to 'Home', '#a', "class=\"back\"" %>
  </div>
  <h2><%= @word['wordstring'] %></h2>
  <ul class="rounded">
    <li><%= @word['note'] %></li>
  </ul>
</div>
